* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  padding-left: 5%;
  padding-right: 5%;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.contenedor {
  width: 90%;
  max-width: 1200px;
  overflow: hidden;
  margin: auto;
  padding: 60px 0;
}
.div-boton {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 2em;
}

.div-boton a {
  width: 20%;
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #006505;
  background-color: #82b085;
  border-radius: 15px;
  border: 3px double #006505;
  white-space: nowrap;
}

.header {
  height: 100vh;
 background-image: linear-gradient(
      to top,
      rgb(14 14 14 / 49%) 0%, hsl(252deg 72% 52% / 51%) 100%
    ),url(img/header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head {
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hamburguer {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #fff;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.menu-navegacion {
  position: fixed;
  top: 0;
  width: 30vw;
  height: 100%;
background: rgb(0,30,246);
background: radial-gradient(circle, rgba(0,30,246,1) 0%, rgba(247,5,201,1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  transform: translateX(110%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.spread {
  transform: translateX(0);
}

.menu-navegacion a {
  color: #fff;
  text-decoration: none;
}

.titulo {
  font-size: 60px;
  margin-bottom: 15px;
}

.copy {
  font-weight: 300;
  font-size: 25px;
}

/* Services */

.subtitulo {
  color: #9f8ad0;
  font-size: 40px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

.gallery {
  background: #f7b1dc;
}

.contenedor-galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.img-galeria {
  width: 40%;
  display: block;
  margin-bottom: 15px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  border-radius: 5px;
}

.imagen-light {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.534);
  transform: translate(100%);
  transition: transform 0.2s ease-in-out;
}

footer {
  background: #ff01ea;
  padding-bottom: 0.1px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
  padding-top: 60px;
  padding-bottom: 40px;
}

.contact-us {
  width: 40%;
  color: #fff;
}

.brand {
  font-weight: 500;
  font-size: 40px;
}

.social-media {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon i {
  font-size: 30px;
  line-height: 60px;
}

.line {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 2px;
  background: #fff;
  margin-bottom: 60px;
}

.social-media-icon:hover {
  background: #fff;
  color: #070707;
}

@media screen and (max-width: 800px) {
  .menu-navegacion {
    width: 50vw;
  }

  .titulo {
    font-size: 40px;
  }

  .contenedor-paisajes img {
    width: 80%;
    margin-bottom: 40px;
  }

  .checklist-paisajes {
    width: 80%;
  }

  .paisajes {
    margin-bottom: 30px;
  }

  .img-galeria {
    width: 45%;
  }

  

  /* .cont-expert {
    width: 80%;
  } */

  .footer-content {
    justify-content: center;
  }

  .social-media {
    width: 80%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 80%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 500px) {
  .menu-navegacion {
    width: 65vw;
  }

  .hamburguer {
    top: 20px;
    right: 20px;
  }

  .titulo {
    font-size: 30px;
  }

  .subtitulo {
    font-size: 30px;
  }

  .img-galeria {
    width: 95%;
  }

  /* .agregar-imagen {
    width: 90%;
  } */

  .social-media {
    width: 100%;
    justify-content: space-evenly;
  }

  .social-media-icon {
    margin-left: 0;
  }

  .contact-us {
    text-align: center;
    width: 95%;
    margin-bottom: 40px;
  }
}
